@page
@model BShop.Pages.Appointments.CreateModel
@{
}
<div style="margin-left: 50px">
    <br>
    <h2>Новая запись</h2>
</div>


<form method="post" style="margin-left: 50px">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Имя</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Name" value="@Model.appointment.Name" required autocomplete="off" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Номер телефона</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="phoneNumber" value="@Model.appointment.phoneNumber" required autocomplete="off" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Мастер</label>
        <div class="col-sm-6">
            <select name="MasterName" required class="form-control">
                <option></option>
                <option value="Дмитрий Золотухин">Дмитрий Золотухин</option>
                <option value="Зуля Хуснуллина">Зуля Хуснуллина</option>
                <option value="Ирман Насибуллин">Ирман Насибуллин</option>
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Дата и время стрижки</label>
        <div class="col-sm-6">
            <input type="text" id="airdatepicker" class="form-control" name="DateOfHaircut" value="@Model.appointment.DateOfHaircut" required autocomplete="off" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/Appointments/Index" role="button">Отмена</a>
        </div>
    </div>
</form>

<script src="~/js/air-datepicker.js"></script>

<script>
    new AirDatepicker('#airdatepicker', {
        timepicker: true,
        minHours: 10,
        maxHours: 19,
        minutesStep: 15
    });
</script>