<header style="position:sticky; top:0; z-index:100">
    <div class="px-3 py-2 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" >
                <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none" >
                    <img src="/img/icons/1802292-8cc97216.png" width="65" />
                    <h3>BarberShop нашего времени!</h3>
                </a>
                <a class="btn btn-warning" href="/Appointments/MakeAppointment" role="button">Записаться</a>
            </div>
        </div>
    </div>
</header>