<section class="f_main mt-0">
    <div class="blur">
        <div class="hero hero-bg-slider js-fullHeight">
            <div class="hero-content-wrapper text-center">
                <div class="hero-txt-align-vertical">
                    <div class="hero-txt">
                        <h1 class="title-hero"><strong>Добро пожаловать в "ЦирюльникЪ"</strong></h1>
                        <h3>Барбершоп для современного мужчины.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container marketing">
    <p class="featurette-heading fw-normal lh-1 mb-4 mt-5" style="text-align:center"><strong>Наши лучшие мастера</strong></p>
    <div class="row">
          <div class="col-lg-4">
                <img src="/img/Зуля.png" width="140" height="140" class="img-fluid rounded-circle">
                <h2 class="fw-normal">Зуля Хуснуллина</h2>
                <h4>Мастер</h4>
                <p>Опыт работы: 4 года</p>
                <p><a><img src="/img/icons/992001.png" width="80" /></a></p>
          </div>
          <div class="col-lg-4">
                <img src="/img/Дмитрий.png" width="140" height="140" class="img-fluid rounded-circle">
                <h2 class="fw-normal">Дмитрий Золотухин</h2>
                <h4>Мастер</h4>
                <p>Опыт работы: 3 года</p>
                    <p><a><img src="/img/icons/992000.png" width="80" /></a></p>
          </div>
          <div class="col-lg-4">
                <img src="/img/Ирман.png" width="140" height="140" class="img-fluid rounded-circle">
                <h2 class="fw-normal">Ирман Насибуллин</h2>
                <h4>Мастер</h4>
                <p>Опыт работы: 4 года</p>
                <p><a><img src="/img/icons/992001.png" width="80" /></a></p>
          </div>
    </div>
    <hr class="horizontal-line">
    <div class="row featurette">
          <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1"><font color="#363636"><strong>ДОБРО ПОЖАЛОВАТЬ К НАМ!</strong></font></h2>
                <p class="lead"><font color="#363636">У нас в команде работают проффесианалы своего дела. Ты обязательно захочешь к нам вернуться.</font></p>
          </div>
          <div class="col-md-5">
                <img src="/img/барберы.png" width="400" height="400">
          </div>
    </div>
    <hr class="horizontal-line">
    <div class="row featurette">
          <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1"><font color="#363636"><strong>ЧАШЕЧКУ КОФЕ?</strong></font></h2>
                <p class="lead"><font color="#363636">Пришел раньше или замерз на улице? Угостим чашечкой хорошего кофе и чая. У нас ты согреешься!</font></p>
          </div>
          <div class="col-md-5 order-md-1">
                <img src="/img/кофе.jpg" width="400" height="400">
          </div>
    </div>
    <hr class="horizontal-line">
    <div class="row featurette">
          <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1"><font color="#363636"><strong>КАК В ТОТ РАЗ.</strong></font></h2>
                <p class="lead"><font color="#363636">Аллилуйя — ты нашёл свою стрижку! Но как её повторить? Не переживай: мастер запишет параметры и сделает «как в тот раз».</font></p>
          </div>
          <div class="col-md-5">
                <img src="/img/процесс стрижки.png" width="400" height="400">
          </div>
    </div>
    <hr class="horizontal-line">

    <div class="row mt-3 mb-2">
          <div class="col-lg-3">
                <h5>Контакты:</h5>
                <p><a><img src="/img/icons/phone-icone.svg" width="40"/> +7(996)123-71-00</a></p>
                <p><a><img src="/img/icons/mail-icone.svg" width="40"/> barber@mail.ru</a></p>
                <p><a><img src="/img/icons/adress-icon.svg" width="40"/> ул.Карла Фукса, д.4</a></p>
                <p><a href="https://vk.com/ainurka01"><img src="/img/icons/vk-icone.svg" width="40"/></a> vk.com/ainurka01</p>
          </div>
          <div class="col-lg-4 align-content-lg-center">
                <h5>Мы на карте</h5>
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af70e9fa54ce4b22ae53d5693cc127645a08fd85547e69e2367d4aa533e8d9c7a&amp;width=389&amp;height=250&amp;lang=ru_RU&amp;scroll=true"></script> 
          </div>

    </div>
  </div>
